.SME_media-toolbar {
    position: absolute;
    top: 0px;
    left: 0px;
    right:300px;
    z-index: 100;
    height: 60px;
    padding: 0px 16px;
    border: 0px solid rgb(223, 223, 223);
    overflow: hidden;
}

.SME_attachments-browser {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.SME_attachment .SME_thumbnail .SME_centered  img {
    transform: translate(-50%, -50%);
}

.SME_media-sidebar {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 267px;
    padding: 0px 16px 24px;
    z-index: 75;
    background: none repeat scroll 0% 0% rgb(245, 245, 245);
    border-left: 1px solid rgb(223, 223, 223);
    overflow: scroll;
	margin-bottom:47px;
}

.SME_media-frame-toolbar {
    position: absolute;
    left: 00px;
    right: 0px;
    bottom: 0px;
    height: 60px;
    z-index: 100;
    border-style: solid;
    border-color: rgb(223, 223, 223);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 1px 0px 0px;
    box-shadow: 0px -4px 4px -4px rgba(0, 0, 0, 0.1);
    background-color:#ffffff;
}

.SME_ui-sortable, .SME_ui-draggable {
}

.SME_attachments-browser .SME_attachments, .SME_attachments-browser .SME_uploader-inline {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 300px;
    bottom: 60px;
    overflow: auto;
}

.SME_attachments {
    margin: 0px;
    padding-right: 16px;
}

#SME_imageViewer .SME_attachment {
    margin: 8px;
    width: 102px;
}

#SME_imageViewer .SME_attachment-preview, #SME_imageViewer .SME_attachment-preview .SME_thumbnail {
    width: 102px;
    height: 102px;
}
.SME_thumbnail img {
    max-width: 120px;
    height: auto;
}

.SME_attachment .SME_thumbnail {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px auto;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.details.SME_attachment {
    box-shadow: 0px 0px 0px 1px rgb(255, 255, 255), 0px 0px 0px 5px rgb(30, 140, 190);
}
#SME_imageViewer6 .SME_attachment-preview, #SME_imageViewer .SME_attachment-preview .SME_thumbnail {
    width: 120px;
    height: 120px;
}
.SME_attachment {
    cursor:pointer;
}
.SME_attachment {
    position: relative;
    float: left;
    padding: 0px;
    margin: 0px 10px 20px;
    color: rgb(70, 70, 70);
    list-style: none outside none;
    text-align: center;
    -moz-user-select: none;
}

#SME_imageViewer6 .SME_attachment-preview, #SME_imageViewer .SME_attachment-preview .SME_thumbnail .SME_centered, #SME_PreviewHolder .SME_attachment-preview .SME_thumbnail .SME_centered {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: translate(50%, 50%);
}

.selected.SME_attachment {
    box-shadow: 0px 0px 0px 1px rgb(255, 255, 255), 0px 0px 0px 3px rgb(204, 204, 204);
}
.details.SME_attachment {
    box-shadow: 0px 0px 0px 1px rgb(255, 255, 255), 0px 0px 0px 5px rgb(30, 140, 190);
}
.SME_attachment .check div {
    background-position: -1px 0px;
    height: 15px;
    width: 15px;
    margin: 5px;
}

.uncheck {
    display: none;
    height: 24px;
    width: 24px;
    position: absolute;
    top: -7px;
    right: -7px;
    outline: 0px none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom, rgb(241, 241, 241), rgb(225, 225, 225)) repeat scroll 0% 0% rgb(241, 241, 241);
}
.check {
    display: block;
    height: 24px;
    width: 24px;
    position: absolute;
    top: -7px;
    right: -7px;
    outline: 0px none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom, rgb(241, 241, 241), rgb(225, 225, 225)) repeat scroll 0% 0% rgb(241, 241, 241);
}
.media-modal-icon {
    background-image: url("../images/uploader-icons.png");
    background-repeat: no-repeat;
}
.SME_media-selection .SME_count {
    display: block;
    padding-top: 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
	margin-top: 5px;
}

.SME_media-selection {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 350px;
    height: 60px;
    padding: 0px 0px 0px 16px;
    overflow: hidden;
    white-space: nowrap;
}
.SME_media-selection .SME_clear-selection ,.SME_ClearCache{
    color: red;
    text-decoration:none;

}
.SME_media-selection .SME_clear-selection:hover , ,.SME_ClearCache:hover{
    color: white;
    background-color:red;

}
#SME_PreviewHolder .SME_attachment-preview {
    width: 40px;
    height: 40px; 
    display:inline-block;
    padding:5px;
}

#SME_PreviewHolder .SME_attachment-preview .SME_thumbnail,#SME_PreviewHolder .SME_attachment-preview .SME_thumbnail img {
    max-width: 40px;
       display:inline-block;
    height: auto;
    position:absolute;
}
#SME_PreviewHolder {
   width:100%;

   display:inline-block;
   position:relative;
   overflow:auto;
   }
#SME_PreviewHolder-palette {
   width:300px;
   left:100px;
   display:inline-block;
   position:absolute;
   overflow:auto;
   }
}
.SME_attachment-details {

    position: relative;
    overflow: auto;
}

.SME_media-sidebar h3 {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(119, 119, 119);
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    margin: 24px 0px 8px;
}
.SME_media-sidebar .setting span, .compat-item label span {
    float: left;
    min-height: 22px;
    padding-top: 8px;
    line-height: 16px;
    text-align: right;
    font-weight: normal;
    color: rgb(153, 153, 153);
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
}



.SME_media-sidebar .setting {
    display: block;
    float: left;
    width: 100%;
    margin: 1px 0px;
}
.SME_media-sidebar .setting input, .SME_media-sidebar .setting textarea {
    width: 65%;
    float: right;
}

.SME_media-frame select, .wp-admin .SME_media-frame select {
    line-height: 28px;
    margin-top: 3px;
}

.SME_media-sidebar .setting select {
    max-width: 65%;
}
.SME_media-sidebar .setting span {
    min-width: 30%;
    margin-right: 4%;
    font-size: 12px;
}

.SME_media-toolbar-primary {
    float: right;
    margin-top:15px;
    margin-right:10px;
    height: 100%;
}
.wp-admin .SMEsmug_reset {
    background-color: #FFDFDF;
    border: 1px solid #C89797;
    float: left;
    width: 250px;
    height: 120px;
    padding: 15px;
    margin: 15px;
    text-align: center;
}

.wp-admin .SMEsmug_checkbox {
    float: left;
    width: 31%;
    margin-right: 1%
}

.wp-admin .SMEsmug_cats h4 {
    margin: 10px 0 0;
}

.wp-admin .SMEsmug_cats {
    margin: 25px;
}


.SMEClear {
    clear: both;
}
